<div>
    <h1>Welcome to Our Website</h1>
    <button class="btn">Get Started</button>
    <div class="recent-estates">
      <h2>Recent Estates</h2>
      <%= form_with url: destroy_user_session_path, method: :delete do %>
      <%= submit_tag 'Logout' %>
    <% end %>
    </div>
  </div>
  <div class="flashlight"></div>
  