<div class="home">
    <h1>Welcome to Estate Management System</h1>
    <div class="estate-background">

    <div class="avatarPicture">
  </div>

    </div>

    <div>
    <%= link_to 'Get Started', root_path, class: 'btn' %>
    </div>
    <div class="recent-estates">
        <h2>Recent Estates</h2>
    </div>
</div>
<div class="flashlight"></div>