<div id="<%= dom_id room %>">
  <p>
    <strong>Room number:</strong>
    <%= room.room_number %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <p>
    <strong>Room type:</strong>
    <%= room.room_type.status_name %>
  </p>

</div>
