<div class="aboutContainer">
    <div>
        <h1>Estate Management System</h1>
        <a href="/">Back</a>
    </div>
    <section class="aboutSection">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo suscipit culpa ab omnis fugiat perspiciatis sed minima delectus iste, et, dolore officia? Dicta ad quas unde voluptate exercitationem eum excepturi.</p
    </section>
</div>