  
  <div class="container mt-4">
    <h1>Payment Status</h1>
    
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= link_to 'Make Another Payment', new_mobile_payment_path, class: 'btn btn-primary' %>
  </div>
  
 
